.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
postgres/
*.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Vue3 ###
# Logs
src/webapp/logs
src/webapp/*.log
src/webapp/npm-debug.log*
src/webapp/yarn-debug.log*
src/webapp/yarn-error.log*
src/webapp/pnpm-debug.log*
src/webapp/lerna-debug.log*

src/webapp/node_modules
src/webapp/.DS_Store
src/webapp/dist
src/webapp/dist-ssr
src/webapp/coverage
src/webapp/*.local

src/webapp/cypress/videos/
src/webapp/cypress/screenshots/

# Editor directories and files
src/webapp/.vscode/*
src/webapp/!.vscode/extensions.json
src/webapp/.idea
src/webapp/*.suo
src/webapp/*.ntvs*
src/webapp/*.njsproj
src/webapp/*.sln
src/webapp/*.sw?

src/webapp/*.tsbuildinfo
